h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#container { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#imageContainer {
    background-color: orange;
    width:250px;
    height: 360px;
}